In [8]:
import csv
import pandas

In [12]:
df = pandas.read_csv('data.csv')
display(df.head())

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium

In [13]:
display(df.describe())

         work_year        salary  salary_in_usd
count  6599.000000  6.599000e+03    6599.000000
mean   2022.818457  1.792833e+05  145560.558569
std       0.674809  5.263722e+05   70946.838070
min    2020.000000  1.400000e+04   15000.000000
25%    2023.000000  9.600000e+04   95000.000000
50%    2023.000000  1.400000e+05  138666.000000
75%    2023.000000  1.875000e+05  185000.000000
max    2024.000000  3.040000e+07  750000.000000

In [15]:
print("Die Daten enthalten {} Zeilen und {} Spalten".format(df.shape[0], df.shape[1]))

Die Daten enthalten 6599 Zeilen und 11 Spalten

In [16]:
display(df)

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium
...,...,...,...,...,...,...,...,...,...,...,...
6594,Staff Data Analyst,Entry-level,Contract,Hybrid,2020,Canada,60000,CAD,44753,Canada,Large
6595,Staff Data Analyst,Executive-level,Full-time,On-site,2020,Nigeria,15000,USD,15000,Canada,Medium
6596,Machine Learning Manager,Senior-level,Full-time,Hybrid,2020,Canada,157000,CAD,117104,Canada,Large
6597,Data Engineer,Mid-level,Full-time,Hybrid,2020,Austria,65000,EUR,74130,Austria,Large
6598,Data Scientist,Senior-level,Full-time,On-site,2020,Austria,80000,EUR,91237,Austria,Small

In [17]:
 display(df.dtypes.value_counts())

object    8
int64     3
Name: count, dtype: int64

In [18]:
num_vars = df.columns[df.dtypes != 'object']
obj_vars = df.columns[df.dtypes == 'object']

In [24]:
df[num_vars].isnull().sum()

work_year        0
salary           0
salary_in_usd    0
dtype: int64

In [25]:
df[obj_vars].isnull().sum()

job_title             0
experience_level      0
employment_type       0
work_models           0
employee_residence    0
salary_currency       0
company_location      0
company_size          0
dtype: int64

In [48]:
print("Für den gesamten Datensatz")
print("Der Mittelwert ist: {}".format(df['salary_in_usd'].mean()))
mid = df.shape[0] / 2
mid = round(mid, 0)
print ("Der Median ist: {}".format(df.at[mid, 'salary_in_usd']))

Für den gesamten Datensatz
Der Mittelwert ist: 145560.55856948023
Der Median ist: 249600