In [86]:
import csv
import pandas

In [87]:
df = pandas.read_csv('data.csv')
display(df.head())

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium

In [88]:
display(df.describe())

         work_year        salary  salary_in_usd
count  6599.000000  6.599000e+03    6599.000000
mean   2022.818457  1.792833e+05  145560.558569
std       0.674809  5.263722e+05   70946.838070
min    2020.000000  1.400000e+04   15000.000000
25%    2023.000000  9.600000e+04   95000.000000
50%    2023.000000  1.400000e+05  138666.000000
75%    2023.000000  1.875000e+05  185000.000000
max    2024.000000  3.040000e+07  750000.000000

In [89]:
print("Die Daten enthalten {} Zeilen und {} Spalten".format(df.shape[0], df.shape[1]))

Die Daten enthalten 6599 Zeilen und 11 Spalten

In [90]:
display(df.dtypes.value_counts())

object    8
int64     3
Name: count, dtype: int64

In [91]:
num_vars = df.columns[df.dtypes != 'object']
obj_vars = df.columns[df.dtypes == 'object']

In [92]:
df[num_vars].isnull().sum()

work_year        0
salary           0
salary_in_usd    0
dtype: int64

In [93]:
df[obj_vars].isnull().sum()

job_title             0
experience_level      0
employment_type       0
work_models           0
employee_residence    0
salary_currency       0
company_location      0
company_size          0
dtype: int64

In [94]:
def median_new(t):
    new = t['salary_in_usd'].median()
    return round(new, 0)
def mean_new(t):
    new = t['salary_in_usd'].mean()
    return round(new, 0)

In [95]:
df_el = df[df['experience_level'] == "Entry-level"]
df_ml = df[df['experience_level'] == "Mid-level"]
df_sl = df[df['experience_level'] == "Senior-level"]
df_exl = df[df['experience_level'] == "Executive-level"]

In [96]:
dfn = pandas.DataFrame(
    {'Median': [median_new(df), median_new(df_el), median_new(df_ml), median_new(df_sl), median_new(df_exl)],
     'Mittelwert': [mean_new(df), mean_new(df_el), mean_new(df_ml), mean_new(df_sl), mean_new(df_exl)]},
     index=['Gesamt','Entry-Level', 'Mid-Level', 'Senior-Level', 'Executive-Level'])
display(dfn)

                   Median  Mittelwert
Gesamt           138666.0    145561.0
Entry-Level       75000.0     84449.0
Mid-Level        106500.0    119020.0
Senior-Level     153600.0    162071.0
Executive-Level  184560.0    189687.0